// === start, TYPOGRAPHY ===
// =========================
// Note from the relevant GitHub SCSS file: "SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome"
$sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$serif: ui-serif, "New York", Georgia, Cambria, "Times New Roman", Times, serif;
$monospaced: ui-monospace, SFMono-Regular, "SF Mono", "Cascadia Code", "Cascadia Mono", "Segoe UI Mono", "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$social-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// like Tailwind **SIZES**
// but not the concomitant `line-height,
// which is in comments
$text-xs: 0.75rem; // LH 1rem
$text-sm: 0.875rem; // LH 1.25rem
$text-base: 1rem; // LH 1.5rem
$text-lg: 1.125rem; // LH 1.75rem
$text-xl: 1.25rem; // LH 1.75 rem (also)
$text-2xl: 1.5rem; // LH 2 rem
$text-3xl: 1.875rem; // LH 2.25rem
$text-4xl: 2.25rem; // LH 2.5rem
$text-5xl: 3rem; // LH 1
$text-6xl: 3.75rem; // LH 1 (also)
$text-7xl: 4.5rem; // LH 1 (also)
$text-8xl: 6rem; // LH 1 (also)
$text-9xl: 8rem; // LH 1 (also)

// underlines for hrefs
$textDcThick: 0.0275rem; // always rem
$textDcThickMd: 0.05rem; // always rem
$textUnOffst: 0.325em; // always em -- min-width: 768px
$textUnOffstMd: 0.275em; // always em -- min-width: 768px
// ^^^ 0.225em is OK with Libre Franklin,
//     but Segoe UI needs at least 0.25em

// =========================
// ==== end, TYPOGRAPHY ====

// === start, MISCELLANY ===
// =========================

// breakpoints (mostly based on Tailwind CSS)
$bkpt_sm: 640px;
$bkpt_md: 768px;
$bkpt_ml: 960px; // additional
$bkpt_lg: 1024px;
$bkpt_xl: 1280px;
$bkpt_2xl: 1536px;
$bkpt_3xl: 1920px; // additional

// button
$btn_radius: 6px;

// =========================
// ==== end, MISCELLANY ====
