.toot-blockquote {
  line-height: 1.35em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 1.5rem auto;
  padding: 1rem;
  border: 2px solid;
  border-color: hsl(220, 18%, 27%);
  border-radius: 12px;
  background: var(--white);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .toot-blockquote {
    font-size: 1.25rem;
  }
}
.toot-blockquote p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.35em;
}
@media screen and (min-width: 960px) {
  .toot-blockquote {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .toot-blockquote {
    width: 85%;
  }
}
@media screen and (min-width: 1920px) {
  .toot-blockquote {
    max-width: 80ch;
  }
}
@media (prefers-color-scheme: dark) {
  .toot-blockquote {
    background: hsl(220, 39%, 11%);
  }
}
.toot-blockquote a, .toot-blockquote a:hover {
  border: none !important;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /*
  See:
  - https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  - https://css-tricks.com/where-lines-break-is-complicated-heres-all-the-related-css-and-html/
  - https://css-tricks.com/better-line-breaks-for-long-urls/
  */
}
@media (prefers-color-scheme: dark) {
  .toot-blockquote a, .toot-blockquote a:hover {
    color: var(--default-dark-link);
  }
}
@media (prefers-color-scheme: dark) {
  .toot-blockquote {
    border: 2px solid;
    border-color: hsl(220, 14%, 91%);
    color: var(--white);
  }
}

.toot-body {
  text-align: left !important;
}

.toot-images img {
  border-radius: 12px;
}

.toot-media-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.toot-blockquote-img {
  border-bottom: 1px solid;
  border-bottom-color: hsl(220, 18%, 27%);
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .toot-blockquote-img {
    border-bottom-color: hsl(220, 11%, 84%);
  }
}

.toot-player {
  display: flex;
}

a > .card, a > .toot-card {
  color: hsl(220, 26%, 17%);
}
@media (prefers-color-scheme: dark) {
  a > .card, a > .toot-card {
    color: hsl(220, 11%, 84%);
  }
}

.card {
  overflow: hidden;
  margin-top: 1em;
  border-radius: 12px;
  border: 1px solid;
  border-color: hsl(220, 18%, 27%);
}
@media (prefers-color-scheme: dark) {
  .card {
    border-color: hsl(220, 11%, 84%);
  }
}
.card p {
  padding: 0.5em 1em 1em;
  line-height: 1.4;
  margin-top: 0;
  font-size: 0.875rem;
}
.card p .card-title {
  color: var(--black);
}
@media (prefers-color-scheme: dark) {
  .card p .card-title {
    color: var(--white);
  }
}

.toot-header {
  display: flex;
}
.toot-header .toot-profile {
  margin-right: 0.5em;
  margin-bottom: 1em;
  flex-shrink: 0;
}
.toot-header .toot-profile img {
  border-radius: 9999px;
  width: 48px;
  height: auto;
}
.toot-header .toot-author {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.toot-header .toot-author-name {
  font-weight: bold;
  font-size: 1rem;
  color: var(--black);
  line-height: 1.375;
}
@media (prefers-color-scheme: dark) {
  .toot-header .toot-author-name {
    color: var(--white);
  }
}
.toot-header .toot-author-handle {
  color: hsl(220, 18%, 27%);
  font-size: 0.875rem;
  line-height: 1;
}
@media (prefers-color-scheme: dark) {
  .toot-header .toot-author-handle {
    color: hsl(220, 11%, 84%);
  }
}
.toot-header .toot-author .toot-bird {
  margin-left: 1.25rem;
}

.toot-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  color: hsl(220, 26%, 17%);
  font-size: 0.875rem;
  /* === needed in Eleventy but not in Hugo
  .toot-date:after {
  	content: " (UTC)";
  	font-size: var.$text-xs;
  }
  */
}
@media (prefers-color-scheme: dark) {
  .toot-footer {
    color: hsl(220, 14%, 91%);
  }
}
.toot-footer .toot-like-icon, .toot-footer .toot-like-count {
  display: none;
}
.toot-footer a {
  color: hsl(220, 26%, 17%);
}
@media (prefers-color-scheme: dark) {
  .toot-footer a {
    color: hsl(220, 14%, 91%);
  }
}
.toot-footer a:hover {
  color: var(--default-light-link);
}
@media (prefers-color-scheme: dark) {
  .toot-footer a:hover {
    color: var(--default-dark-link);
  }
}

[class^=toot-img-grid],
.toot-video-wrapper,
.toot-media-video {
  margin-top: 0.5em;
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
}

.toot-video-wrapper {
  border-radius: 1em;
  display: block;
  position: relative;
}

.toot-img-grid-3 {
  grid-template-columns: repeat(2, 1fr);
}

.toot-img-grid-3 .toot-media-img {
  aspect-ratio: 1.8;
}

.toot-img-grid-3 :nth-child(1) {
  grid-row: 1/span 2;
  height: 100%;
}

.toot-img-grid-3 :nth-child(1) .toot-media-img {
  aspect-ratio: 0.9;
}

.toot-img-grid-2,
.toot-img-grid-4 {
  grid-template-columns: repeat(2, 1fr);
}

.toot-sens-blur {
  filter: blur(5rem);
  position: relative;
}

.toot-sens-blur-no {
  filter: none !important;
  z-index: 9999 !important;
  position: relative;
}

[class^=toot-img-grid] {
  position: relative;
}

.blur-text {
  position: absolute;
  font-weight: bold;
  text-shadow: 0.125em 0.125em 0.1em var(--black);
  width: 100%;
  top: 40%;
  color: var(--white);
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
}

.blur-text-no {
  display: none !important;
  background-color: var(--black);
}

.toot-poll-wrapper {
  display: grid;
  grid-template-columns: 3.5em 0.5fr 1fr;
  grid-gap: 1em;
  line-height: 1;
}
.toot-poll-count {
  grid-column: 1;
  text-align: right;
}
.toot-poll-meter {
  grid-column: 2;
}
.toot-poll-meter meter {
  width: 100%;
}
.toot-poll-title {
  grid-column: 3;
}
.toot-poll-total {
  padding-top: 1em;
}

.toot-quoted-tweet {
  border: 1px solid;
  border-color: hsl(220, 26%, 17%);
  border-radius: 12px;
  padding: 1em 1em 0.5em 1em;
  margin-top: 0.75em;
  margin-bottom: 0;
}
@media (prefers-color-scheme: dark) {
  .toot-quoted-tweet {
    border-color: hsl(220, 14%, 91%);
  }
}
.toot-quoted-tweet p {
  font-size: 0.875rem;
  margin: 0 0 0.5em;
  line-height: 1.4;
}
.toot-quoted-tweet p .toot-quoted-toot-profile-image {
  border-radius: 9999px;
  width: 18px;
  height: auto;
  display: inline;
}
.toot-quoted-tweet p.toot-quoted-toot-head {
  margin-bottom: 0.25em;
}
.toot-quoted-tweet p.toot-quoted-toot-head a {
  color: hsl(220, 26%, 17%);
}
@media (prefers-color-scheme: dark) {
  .toot-quoted-tweet p.toot-quoted-toot-head a {
    color: hsl(220, 14%, 91%);
  }
}
.toot-quoted-tweet p.toot-quoted-toot-head a:hover {
  color: var(--default-light-link);
}
@media (prefers-color-scheme: dark) {
  .toot-quoted-tweet p.toot-quoted-toot-head a:hover {
    color: var(--default-dark-link);
  }
}

.toot-reply-to {
  margin-top: 0;
  padding-top: 0;
  line-height: 1.3em;
  color: hsl(220, 26%, 17%);
  font-size: 0.875rem;
}
@media (prefers-color-scheme: dark) {
  .toot-reply-to {
    color: hsl(220, 14%, 91%);
  }
}
.toot-reply-to .toot-like-icon, .toot-reply-to .toot-like-count {
  display: none;
}

.toot-card {
  position: relative;
  border: 2px solid;
  border-color: hsl(220, 10%, 65%);
  border-radius: 6px;
  margin-top: 1em;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .toot-card {
    display: flex;
  }
}
.toot-card-image {
  flex: 0 0 100px;
  border-right: 2px solid;
  border-right-color: hsl(220, 10%, 65%);
  position: relative;
}
@media screen and (min-width: 768px) {
  .toot-card-image {
    flex: 0 0 200px;
  }
}
.toot-card-image-image {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
}
.toot-card-content {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0.75em;
  line-height: 1.5;
}
.toot-card-content .card-title {
  font-weight: bold;
}
.toot-card-content .card-title, .toot-card-content .card-description {
  font-size: 0.875rem;
}
